<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SportHub - Detalle del Evento</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom CSS -->
    <link href="../css/inicio.css" rel="stylesheet">

    <link href="../css/detalle.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="../resources/sporthub-removebg.png" type="image/png" />

    <!-- Firebase -->
    <script type="module" src="../js/firebase.js"></script>
    <script type="module" src="../js/detalle.js"></script>
  </head>

  <body>
    
    <div class="align-items-center">
      <img id="logo" src="../resources/sporthub-removebg.png" alt="Logo SportHub" class="logo" width="120" height="120">
    </div>

    <div class="container-fluid mt-3 align-items-center">
      <div id="contenido-detalle"></div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
